<main class="container mx-auto py-8">
  <div class="bg-white p-4 shadow-md">
    <div class="mx-auto max-w-2xl">
      <.flash_group flash={@flash} />
      <%= @inner_content %>
    </div>
  </div>
</main>
