<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "PhoenixBlog" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>

  <body>
    <nav class="bg-lch-darkgreen border-gray-200 px-2 sm:px-4 py-2.5 rounded ">
      <div class="container flex flex-wrap items-center mx-auto justify-between">
        <.link href={~p"/"}>
          <.logo />
        </.link>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <div class="bg-lch-darkgreen flex flex-col p-4 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0">
            <.link
              href={~p"/"}
              class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-yellow-100 md:p-0"
            >
              Home
            </.link>
            <.link
              href={~p"/posts"}
              class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-yellow-100 md:p-0"
            >
              Posts
            </.link>
            <%= if @current_user do %>
              <.link
                href={~p"/users/settings"}
                class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-yellow-100 md:p-0"
              >
                <%= @current_user.username %>
              </.link>
              <.link
                href={~p"/users/log_out"}
                method="delete"
                class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-yellow-100 md:p-0"
              >
                Log out
              </.link>
            <% else %>
              <.link
                href={~p"/users/register"}
                class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-yellow-100 md:p-0"
              >
                Register
              </.link>

              <.link
                href={~p"/users/log_in"}
                class="block py-2 pl-3 pr-4 text-gray-200 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-yellow-100 md:p-0"
              >
                Log in
              </.link>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <%= @inner_content %>
  </body>
</html>
